.body {
    background-color: #A199A6;
}

h2 {
    text-align: center;
}

.linkedin {
    transform: scale(0.9)
    transform: rotate(180deg)
  }
  
.linkedin:hover{
    -moz-transform: rotate(360deg) scale(1.1);
    -webkit-transform: rotate(360deg) scale(1.1);
    -o-transform: rotate(360deg) scale(1.1);
    -ms-transform: rotate(360deg) scale(1.1);
    transform: rotate(360deg) scale(1.1);
    opacity: 1;
    transition-duration: 1s
  }

.facebook:hover{
    -moz-transform: rotate(360deg) scale(1.5);
    -webkit-transform: rotate(360deg) scale(1.5);
    -o-transform: rotate(360deg) scale(1.5);
    -ms-transform: rotate(360deg) scale(1.5);
    transform: rotate(360deg) scale(1.3);
    opacity: 1;
    transition-duration: 1s
  }

.twitter:hover{
    -moz-transform: rotate(360deg) scale(1.5);
    -webkit-transform: rotate(360deg) scale(1.5);
    -o-transform: rotate(360deg) scale(1.5);
    -ms-transform: rotate(360deg) scale(1.5);
    transform: rotate(360deg) scale(1.3);
    opacity: 1;
    transition-duration: 1s
  }

  .linkedin, .facebook, .twitter{
      text-align: center;
  }

  .formulaire{
      margin-top:10%;
      margin-bottom: 10%;
  }

  .container{
      margin-top:5%;
  }

